*{
    background-color: black;
    margin: 0 auto;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
}
.nav-bar{
    background-color: #242627;
    width: 90%;
    justify-content: space-between;
    display: flex;
    height: 40px;
    border-radius: 5px;
    padding-top: 15px;
}
.nav-bar a{
    background: none;
    color: #7d878f;
    text-decoration: none;
}
.nav-bar img{
    background: none;
}
.hero-section{
    display: flex;
}
.text{
    color: white;
    margin-top: 200px;
    margin-left: 200px;
}
.text p{
    margin-top: 20px;
    color: #7d878f;
}
.text button{
    background-color: #1e8f0f;
    height: 50px;
    width: 50%;
    margin-top: 30px;
    color: #fff;
    font-size: large;
    border-radius: 5px;
    box-shadow: 0 2px 4px #1e8f0f;
    border: 1px solid #1e8f0f;
    cursor: pointer;
}
.mine img{
    margin-top: 100px;
    margin-left: -50px;
    border-radius: 50%;
    height: 400px;
}
.baseline{
    margin-left: 200px;
}
.baseline h6{
    color: #7d878f;
    font-size: large;
}